*.iso
*.img
*.qcow2
*.raw
*.cpio.gz
nib-linux.iso
disk.img
rootfs_work/
iso_root/boot/initrd.img
iso_root/boot/vmlinuz
iso_root/boot/rootfs.tar.gz
sources/
distro-kit/ns-core/target/
distro-kit/examples/hello/
rootfs/lib/firmware/*
!rootfs/lib/firmware/.gitkeep
rootfs/lib/modules/*
!rootfs/lib/modules/.gitkeep
rootfs/lib/x86_64-linux-gnu/
rootfs/lib64/
rootfs/usr/lib/
rootfs/usr/local/sbin/
rootfs/run/*
!rootfs/run/.gitkeep
