set default=0
set timeout=5

insmod part_gpt
insmod part_msdos
insmod fat
insmod ext2
insmod iso9660
insmod linux
insmod all_video
insmod gfxterm

terminal_input console
terminal_output gfxterm console

menuentry "Forge Linux" {
    linux /boot/vmlinuz quiet console=ttyS0 console=tty0
    initrd /boot/initrd.img
}

menuentry "Forge Linux (nomodeset)" {
    linux /boot/vmlinuz quiet nomodeset console=ttyS0 console=tty0
    initrd /boot/initrd.img
}

menuentry "Forge Linux (safe mode)" {
    linux /boot/vmlinuz console=ttyS0 console=tty0 init=/bin/sh
    initrd /boot/initrd.img
}
